* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../img/background1.png') no-repeat 0 0 / cover;
    box-sizing: border-box;
    height: 100vh;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    height: 80px;
    background: #7A85EF;
    /*display: flex;*/
}

.burger {
    display: none;
}


.open {
    display: flex !important;
    opacity: 0.9;
}

.header-inner {
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    /*gap: 250px;*/
}


nav ul {
    display: flex;
    list-style: none;
    gap: 0 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nomer {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.name-pages {
    color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    font-weight: 600;
    -webkit-text-stroke: 2px #fff;
    margin-bottom: 60px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pochta {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.graphic {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.left {
    display: flex;
    gap: 195px;
}

.container-contacts {
    margin: 0 auto;
    margin-top: 130px;
    width: 1497px;
}


footer {
    width: auto;
    background: #4BA0C5;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contakty {
    width: 346px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messengers {
    width: 137px;
    display: flex;
    justify-content: space-around;
}

.nomer-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 425px) {

    .name-pages {
        font-size: 60px;
    }

    .header-inner {
        margin: 0 21px;
        gap: 90px;
        justify-content: space-between;
    }

    .main-container {
        flex-direction: column;
        padding: 90px 0 0 0;
        gap: 30px;
        max-width: 320px;
        margin: 0 auto;
    }

    .main-picture {
        max-width: 420px;
        background-size: 320px;
    }

    .menu-list {
        display: none;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 0;
        background-color: #151515;
    }

    .burger {
        display: flex;
    }

    .nomer {
        display: none;
    }

    .pochta {
        font-size: 14px;
    }

    .rrr {
        display: flex;
        font-size: 14px;
        color: white;
    }

    .graphic {
        font-size: 14px;
    }

    body {
        overflow: hidden;
    }
}