* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../img/background1.png') no-repeat 0 0 / cover;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    height: 80px;
    background: #7A85EF;
    /*display: flex;*/
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 0 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nomer {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
}

.open {
    display: flex !important;
    opacity: 0.9;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 60px 0 0 0;
    gap: 118px;
}

.name-pages {
    color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 600;
    -webkit-text-stroke: 4px #fff;
    margin-bottom: 60px;
}

.main-orange-text {
    font-family: 'Montserrat', sans-serif;
    color: #ece143;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 23px;
}

.main-white-text1 {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.main-text {
    width: 900px;
    color: #FFF;
    font-size: 18px;
    font-weight: 100;
}

.container-text {
    margin-bottom: 60px;
}

.parameter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.parameters-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.parameters {
    display: flex;
    gap: 30px;
}

.main-picture {
    width: 662px;
    height: 791px;
    background: url('../img/Карта.png') no-repeat 0 0 / cover;
}

.ellipse1-4 {
    width: 250px;
    display: flex;
    margin-left: 155px;
}

.ellipse1 {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: red;
    margin-top: 100px;
}

.ellipse2 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 110px;
}

.ellipse3 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 165px;
}

.ellipse4 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 120px;
}

.ellipse5-8 {
    margin: 0 auto;
    width: 500px;
    margin-top: 110px;
}

.ellipse5 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 440px;
}

.ellipse6 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 250px;
}

.ellipse7 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
}

.ellipse8 {
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 40px;
    margin-left: 170px;
    
}

.ellipse7-8 {
    margin-top: 160px;
}

.ellipse1:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse2:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse3:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse4:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse5:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse6:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse7:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}
.ellipse8:hover {
    background-color: #00A3FF;
    transition: 0.4s;
}

.colored {
	background-color: #00A3FF;
}

.colored1 {
	background-color: red;
}


footer {
    width: auto;
    background: #4BA0C5;
    margin-top: 135px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contakty {
    width: 346px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.messengers {
    width: 137px;
    display: flex;
    justify-content: space-around;
}

.nomer-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}


.container-footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer2 {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    width: 100%;
}

#vk img{
    width: 31px;
}

@media (max-width: 425px) {
    .main-container {
        flex-direction: column;
        padding: 90px 0 0 0;
        gap: 30px;
        max-width: 320px;
        margin: 0 auto;
    }

    .main-picture {
        max-width: 420px;
        max-height: 400px;
        background-size: 320px;
    }

    .header_inner {
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        padding: 0;
    }

    .nomer {
        display: none;
    }


    .menu-list {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #151515;
    }

    .burger {
        display: flex;
    }

    .main-container {
        display: flex;
        justify-content: center;
        padding: 60px 0 0 0;
        gap: 118px;
    }

    .name-pages {
        max-width: 100px;
        font-size: 40px;
        -webkit-text-stroke: 4px #fff;
        margin-bottom: 60px;
    }

    .main-orange-text {
        font-family: 'Montserrat', sans-serif;
        color: #ece143;
        font-size: 26px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 23px;
    }

    .main-white-text1 {
        max-width: 300px;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
    }

    .main-text {
        width: 900px;
        color: #FFF;
        font-size: 18px;
        font-weight: 100;
    }

    .container-text {
        margin-bottom: 60px;
    }

    .parameters {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .ellipse1-4 {
        width: 250px;
        display: flex;
        margin-left: 67px;
    }

    .ellipse1 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-top: 50px;
    }

    .ellipse2 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-top: 55px;
    }

    .ellipse3 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-top: 60px;
    }

    .ellipse4 {
        display: none;
    }

    .ellipse5-8 {
        margin: 0 auto;
        width: 450px;
        margin-top: 50px;
    }

    .ellipse5 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-left: 248px;
        margin-top: 61px;
    }

    .ellipse6 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-left: 162px;
    }

    .ellipse7 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-left: 30px;
    }

    .ellipse8 {
        width: 21px;
        height: 21px;
        border: 3px solid white;
        margin-top: 14px;
        margin-left: 120px;
    }

    .ellipse7-8 {
        margin-top: 60px;
    }
    .messengers {
        width: 90px;
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .nomer-footer {
        display: flex;
        gap: 10px;
        align-items: center;
        color: #FFF;
        font-size: 10px;
        font-weight: 700;
    }

    .email {
        display: flex;
        gap: 10px;
        align-items: center;
        color: #FFF;
        font-size: 10px;
        font-weight: 700;
    }

    .container-footer {
        max-width: 400px;
    }

    .logo-footer img {
        max-width: 100px;
    }

    .messengers img {
        max-width: 20px;
    }

    .picture-phone img {
        max-width: 20px;
    }

    .picture-email img {
        max-width: 20px;
    }

    .container-footer2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .container-footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .contakty {
        max-width: 245px;
    }

    #footer {
        margin-top: 20px;
    }
}

/*@media (min-width: 425px) and (max-width: 768px) {*/

/*    .header-inner {*/
/*        margin: 0 auto;*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*        gap: 20px;*/
/*        max-width: 700px;*/
/*    }*/

/*    nav ul {*/
/*        display: flex;*/
/*        list-style: none;*/
/*        gap: 0 40px;*/
/*    }*/

/*    nav a {*/
/*        text-decoration: none;*/
/*        color: #ffffff;*/
/*        font-size: 20px;*/
/*        font-style: normal;*/
/*        font-weight: 700;*/
/*        line-height: normal;*/
/*    }*/

/*    .nomer {*/
/*        display: none;*/
/*    }*/

/*    #header {*/
/*        max-width: 525px;*/
/*    }*/

/*    #header ul {*/
/*        align-items: center;*/
/*    }*/

/*    !*.menu-list {*!*/
/*    !*    display: flex;*!*/
/*    !*    align-items: center;*!*/
/*    !*}*!*/

/*    .main-container {*/
/*        max-width: 650px;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .name-pages {*/
/*        max-width: 600px;*/
/*        font-size: 40px;*/
/*        -webkit-text-stroke: 4px #fff;*/
/*        margin-bottom: 40px;*/
/*    }*/

/*    .main-orange-text {*/
/*        font-size: 26px;*/
/*        font-weight: 600;*/
/*        line-height: normal;*/
/*        margin-bottom: 23px;*/
/*    }*/

/*    .main-white-text1 {*/
/*        max-width: 600px;*/

/*    }*/

/*    .main-text {*/
/*        width: 900px;*/
/*    }*/

/*    .container-text {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .messengers {*/
/*        width: 90px;*/
/*        display: flex;*/
/*        justify-content: space-around;*/
/*        gap: 10px;*/
/*    }*/

/*    .nomer-footer {*/
/*        display: flex;*/
/*        gap: 10px;*/
/*        align-items: center;*/
/*        color: #FFF;*/
/*        font-size: 10px;*/
/*        font-weight: 700;*/
/*    }*/

/*    .email {*/
/*        display: flex;*/
/*        gap: 10px;*/
/*        align-items: center;*/
/*        color: #FFF;*/
/*        font-size: 10px;*/
/*        font-weight: 700;*/
/*    }*/

/*    .container-footer {*/
/*        max-width: 480px;*/
/*        flex-direction: column-reverse;*/
/*        display: flex;*/
/*    }*/

/*    .logo-footer img {*/
/*        max-width: 150px;*/
/*    }*/

/*    .messengers img {*/
/*        max-width: 20px;*/
/*    }*/

/*    .picture-phone img {*/
/*        max-width: 20px;*/
/*    }*/

/*    .picture-email img {*/
/*        max-width: 20px;*/
/*    }*/

/*    .container-footer2 {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        margin-bottom: 20px;*/
/*        margin-top: 20px;*/
/*        gap: 50px;*/
/*    }*/

/*    .contakty {*/
/*        max-width: 245px;*/
/*    }*/

/*    #footer {*/
/*        margin-bottom: 10px;*/
/*        margin-top: 20px;*/
/*    }*/
/*}*/