* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../img/background1.png') no-repeat 0 0 / cover;
    box-sizing: border-box;
    height: 100vh;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    height: 80px;
    background: #7A85EF;
    /*display: flex;*/
}

.header-inner {
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    /*gap: 250px;*/
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
}

.open {
    display: flex !important;
    opacity: 0.9;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 0 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nomer {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.name-pages {
    color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    font-weight: 600;
    -webkit-text-stroke: 2px #fff;
    margin-bottom: 60px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question {
    width: 1600px;
    height: 50px;
    border-radius: 30px;
    background: #FFF;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    gap: 1250px;
    align-items: center;
}

.question p {
    width: 250px;
    margin-left: 36px;
}

.main-container {
    width: 1598px;
    margin: 0 auto;
    margin-top: 100px;
}

.stroke {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.stroke span {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.text {
    width: 1532px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

.displayNone {
    display: none;
    transition: 0.9s;
}

.color {
    color: #F90;
    transition: 0.2s;
}

.answers {
    width: 1598px;
    border-radius: 30px;
    background: #FFF;
    margin-bottom: 15px;
    padding: 20px 0;
}

footer {
    width: auto;
    background: #4BA0C5;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.contakty {
    width: 346px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messengers {
    width: 137px;
    display: flex;
    justify-content: space-around;
}

.nomer-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 1600px) {
    .question {
        width: 1400px;
        gap: 1080px;
    }
}

@media (max-width: 425px) {

    .header-inner {
        margin: 0 21px;
        gap: 90px;
        justify-content: space-between;
    }

    .main-container {
        flex-direction: column;
        padding: 90px 0 0 0;
        gap: 30px;
        max-width: 320px;
        margin: 0 auto;
    }

    .main-picture {
        max-width: 420px;
        background-size: 320px;
    }

    .menu-list {
        display: none;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 0;
        background-color: #151515;
    }

    .burger {
        display: flex;
    }

    .nomer {
        display: none;
    }

}

